{% extends "blog/base.html" %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    
    <div class="card shadow-lg p-4 text-center" style="max-width: 420px; width: 100%;">
        
        <h4 class="text-danger fw-bold mb-3">
            ⚠ Delete Confirmation
        </h4>

        <p class="text-secondary mb-4">
            Are you sure you want to delete this post?
        </p>

        <form method="POST">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger w-100 mb-2">
                Yes, Delete
            </button>

            <a href="{% url 'post-detail' post.id %}" class="btn btn-secondary w-100">
                Cancel
            </a>
        </form>

    </div>

</div>

{% endblock %}
